body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-image:url("../image/bg3.jpg");
    background-repeat: no-repeat;
}

a{
    text-decoration : none;
}
.father{
    width: 1440px;
    height: 924px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.one{
    width: 1440px;
    height: 293px;
    position: relative;
}
.name{
    height: 90px;
    width: 90px;
    position: absolute;
    top: 55px;
    left: 123px;
    font-size: 35px;
    text-align: center;
}
.load{
    width: 60px;
    height: 40px;
    position: absolute;
    top: 44px;
    left: 1282px;
    font-size: 20px;
    text-align: center;
    border: none;
    outline: none;
    background-color: white;
}
.register{
    width: 60px;
    height: 40px;
    position: absolute;
    top: 44px;
    left: 1337px;
    font-size: 20px;
    text-align: center;
    border: none;
    outline: none;
    background-color: white;
}
.Logout{
    width: 120px;
    height: 40px;
    position: absolute;
    top: 44px;
    left: 1682px;
    font-size: 14px;
    text-align: center;
    outline: none;
    border-radius: 7px;
    border: none;
    color: white;
    background-color: #80cbc4
}
.Logout:hover{
    background-color: #00796b;
}
.home{
    width: 120px;
    height: 40px;
    position: absolute;
    top: 44px;
    left: 1282px;
    font-size: 14px;
    text-align: center;
    outline: none;
    border-radius: 7px;
    border: none;
    color: white;
    background-color: #80cbc4
}
.home:hover{
    background-color: #00796b;
}
.box{
    width: 750px;
    height: 58px;
    display: flex;
    position: absolute;
    left: 362px;
    top: 128px;
}
.InputField{
    width: 628px;
    height: 56px;
    border-radius: 5px 0 0 5px;
    font-size: 22px;
    border-radius: 10px;
    position: absolute;
    background-color: #00695d23;
    border: 3px solid #cacacaa4;
    padding-left: 20px;
    outline: none;
}
.InputBox{
    width: 112px;
    height: 65px;
    position: absolute;
    left: 628px;
    border-radius: 0 5px 5px 0;
    background-color: #80cbc4;
    font-size: 16px;
    border: none;
    color: white;
    outline: none;
}
.InputBox:hover{
    background-color: #00796b;
}
.two{
    height: 455px;
    width: 1180px;
    position: absolute;
    top: 293px;
    display: flex;
    flex-wrap: wrap;
}
.A1{
    margin-right: 18px;
    margin-left: 18px;
    margin-bottom: 45px;
    font-size: 14px;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    overflow: hidden;
    user-select: none;
    position: relative;
    background:linear-gradient(150deg,#80cbc4,#00796b);
    box-shadow: 5px 5px 5px 0 #00695c;
}

.ripple{
    display: block;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: scale(0);
    position: absolute;
}

.animation {
    animation: ripple 0.5s ease-in;
}

@keyframes ripple {
    100% {
        transform: scale(3);
        opacity: 0;
    }
}
