body{
    background-image: url("../image/bg19.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.container{
    width: 1440px;
    line-height: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.title{
    margin-left: 78px;
    margin-top: 60px;
    width: 189px;
    height: 95px;
    color: rgba(16, 16, 16, 100);
    font-size: 40px;
    text-align: left;
    position: absolute;
}
.sell{
    position: absolute;
    left: 1280px;
    top: 251px;
    width: 140px;
    height: 50px;
    background-color: unset;
    border: black 2px solid;
    border-radius: 8px;
    color: black;
    font-weight: 600;
    font-size: 20px;
    outline: none;
}
.sell:hover{
    background-color: black;
    color: white;
}
.exit{
    position: absolute;
    left: 1480px;
    top: 251px;
    width: 140px;
    height: 50px;
    background-color: unset;
    border: black 2px solid;
    border-radius: 8px;
    color: black;
    font-weight: 600;
    font-size: 20px;
    outline: none;
}
.exit:hover{
    background-color: black;
    color: white;
}
.product{
    margin-top: 287px;
    width: 1265px;
}

.product1{
    margin-top: 52px;
    margin-bottom: 30px;
    width: 1265px;
    height:187px;
    position: relative;
    background-color: rgba(35,35,35,0.674);
    box-shadow: 10px 10px 10px black;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.product1 .date{
    margin-top: -43px;
    width: 360px;
    height: 29px;
    color: black;
    font-size: 20px;
    text-align: left;
    position: absolute;
}

.product1 img{
    margin-left: 80px;
    margin-top: 35px;
    width: 200px;
    height: 120px;
    position: absolute;
}

.product1 .describe{
    margin-left: 333px;
    margin-top: 81px;
    width: 360px;
    height: 29px;
    font-size: 20px;
    text-align: left;
    position: absolute;
}

.product1 .grade1{
    margin-left: 742px;
    margin-top: 79px;
    width: 28px;
    height: 29px;
    color: rgba(255, 6, 6, 100);
    font-size: 20px;
    text-align: left;
    position: absolute;
}

.product1 .grade2{
    margin-left: 908px;
    margin-top: 79px;
    width: 12px;
    height: 29px;
    font-size: 20px;
    text-align: left;
    position: absolute;
}

.product1 .grade3{
    margin-left: 1066px;
    margin-top: 79px;
    width: 28px;
    height: 29px;
    color: rgba(255, 6, 6, 100);
    font-size: 20px;
    text-align: left;
    position: absolute;
}

.product1 .delete{
    position: absolute;
    text-align: center;
    font-size: 14px;
    left: 1150px;
    top:75px;
    width: 80px;
    height: 30px;
    border: #BBBBBB 1px solid;
    border-radius: 3px;
    color: black;
    background-color: rgba(90,90,90,0.774);
}
.delete:hover{
    background-color: rgba(35,35,35,0.774);
    color: white;
}