<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>出售商品</title>
    <link rel="stylesheet" href="/css/出售商品页面.css">
</head>

<body>
    <div class="screen">
        <div class="title">
            <img src="/image/xishi.png" style="width: 150px;height: 150px;" />
        </div>
        <a th:href="@{/sold/record(user_id=${user_id})}">
            <input type="button" value="返回" class="btn"/>
        </a>
        <div class="table">
            <form enctype="multipart/form-data" method="post" th:action="@{/sell}" id="registerForm">
                <!--商品图片-->
                <div class="item" style="margin-top: 60px;border: none;">
                    <input type="file" class="commodity_image" name="file">
                    <label style="font-size: 20px;">商品图片</label>
                </div>
                <!--商品名称-->
                <div class="item">
                    <input type="text" class="commodity_name" name="goods_name"/>
                    <label>商品名</label>
                </div>
                <!--商品类型-->
                <div class="item">
                    <input type="text" class="commodity_amount" name="newPrice"/>
                    <label>现价</label>
                </div>
                <!--商品原价-->
                <div class="item">
                    <input type="text" class="commodity_oprice"  name="oldPrice"/>
                    <label>原价</label>
                </div>
                <!--商品总量-->
                <div class="item">
                    <input type="text" class="commodity_amount" name="amount"/>
                    <label>数量</label>
                </div>
                <!--商品现价-->
                <div class="item-1">
                    <div
                        style="color: white;width: 100px;height:30px;background-color: turquoise;display: flex;justify-content: center;align-items: center;position: absolute;top: -30px;">
                        商品类型
                    </div>
                    <div class="lin">
                        <input type="radio" name="commodity_type" class="type-choice" th:value="1">
                        <p>男装</p>
                    </div>
                    <div class="lin">
                        <input type="radio" name="commodity_type" class="type-choice" th:value="2">
                        <p>女装</p>
                    </div>
                    <div class="lin">
                        <input type="radio" name="commodity_type" class="type-choice" th:value="3">
                        <p>箱包</p>
                    </div>
                    <div class="lin">
                        <input type="radio" name="commodity_type" class="type-choice" th:value="4">
                        <p>美妆/个人护理</p>
                    </div>
                    <div class="lin">
                        <input type="radio" name="commodity_type" class="type-choice" th:value="5">
                        <p>饰品</p>
                    </div>
                    <div class="lin">
                        <input type="radio" name="commodity_type" class="type-choice" th:value="6">
                        <p>手机/数码/电脑办公</p>
                    </div>
                    <div class="lin">
                        <input type="radio" name="commodity_type" class="type-choice" th:value="7">
                        <p>零食/进口食品</p>
                    </div>
                    <div class="lin">
                        <input type="radio" name="commodity_type" class="type-choice" th:value="8">
                        <p>水果</p>
                    </div>
                    <div class="lin">
                        <input type="radio" name="commodity_type" class="type-choice" th:value="9">
                        <p>电脑/电脑配件</p>
                    </div>
                    <div class="lin">
                        <input type="radio" name="commodity_type" class="type-choice" th:value="10">
                        <p>家具</p>
                    </div>
                    <div class="lin">
                        <input type="radio" name="commodity_type" class="type-choice" th:value="11">
                        <p>家纺/家饰</p>
                    </div>
                    <div class="lin">
                        <input type="radio" name="commodity_type" class="type-choice" th:value="12">
                        <p>医药保健</p>
                    </div>
                    <div class="lin">
                        <input type="radio" name="commodity_type" class="type-choice" th:value="13">
                        <p>收纳/厨具</p>
                    </div>
                    <div class="lin">
                        <input type="radio" name="commodity_type" class="type-choice" th:value="14">
                        <p>图书</p>
                    </div>
                    <div class="lin">
                        <input type="radio" name="commodity_type" class="type-choice" th:value="15">
                        <p>音像</p>
                    </div>

                </div>

                <button type="submit" value="确定" class="submit">确定
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </form>
        </div>
    </div>
    <script src="/js/出售商品页面.js"></script>
</body>

</html>